@import url(http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

ul.menu > li:nth-child(3) > .nav-sublist-dropdown .mega-columns .block1 {
}

ul.menu > li:nth-child(3) > .nav-sublist-dropdown .mega-columns .block1 .has-thumb-img {
    padding-top: 45px;
    padding-bottom: 45px;
    border-right: 1px solid #ebebeb;
}

ul.menu > li:nth-child(3) > .nav-sublist-dropdown .mega-columns .block1 .has-thumb-img:last-child {
    border-right: 0;
}

#cust-cookies-bar {
    display: none;
}

.header-container.type8 .main-nav ul.menu > li > a,
.header-container.type8 .search-icon,
.header-container.type8 .top-links-icon > a,
.header-container.type8 .mybag-link {
    color: #fff !important;
}

.header-container.type8 .logo {
    margin: 42px 0 !important;
}

.footer-container {
    background: #000;
}

.footer-menu li a {
    color: #999;
}

.footer-bottom .footer-menu li a:hover {
    color: #fff !important;
}

#cust-klarna-menu a:hover {
    color: transparent !important;
}

.header-container.type8 .header {
    border-bottom: none !important;
}

.footer .footer-bottom-area {
    border-top: none !important;
}

#cust-home-content {
    margin-top: 20px;
}

#cust-home-content .big-title {
    border-bottom: 3px solid #f1f1f1;
    line-height: 5px;
    margin: 50px auto 30px;
}

#cust-home-content .big-title span {
    background: #fff;
    padding: 0 30px;
}

#cust-main-categories-count {
    text-align: center;
}

#cust-main-categories-count a {
    display: block;
}

#cust-main-categories-count a:hover .cust-cat-detail {
    background-color: rgba(190, 214, 47, 0.7);
}

#cust-main-categories-count a:hover .cust-cat-detail * {
    color: #fff;
}

#cust-main-categories-count .cust-cat-detail {
    position: relative;
    top: -110px;
    width: 337px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    padding: 15px 0px;
}

#cust-main-categories-count .cust-cat-detail p {
    opacity: 0.85;
    font-size: 10px;
}

#cust-main-categories-count .cust-cat-detail h3 {
    font-size: 1.25em;
}

#cust-main-categories-count .cust-cat-detail p,
#cust-main-categories-count .cust-cat-detail h3 {
    color: #555;
    margin-bottom: 0;
}

#cust-header {
    width: 1349px;
}

a.currency_s {
    color: #32e714;
}

a.currency_s.currency_active {
    color: #ffffff;
}

div.open_currency span {
    color: #32e714;
}

a.currency_s.dkk:after {
    content: ' ';
    background-image: url(../images/flags/dk.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 6px 10px;
    float: right;
    margin-left: 10px;
    background-size: 22px;
}

a.currency_s.eur:after {
    content: ' ';
    background-image: url(../images/flags/europeanunion.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 6px 10px;
    float: right;
    margin-left: 12px;
    background-size: 22px;
}

a.currency_s.sek:after {
    content: ' ';
    background-image: url(../images/flags/se.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 6px 10px;
    float: right;
    margin-left: 13px;
    background-size: 22px;
}

.open_currency_active {
    width: 200px;
    position: absolute;
    z-index: 9999;
    display: none;
}

.open_currency:hover {
    cursor: pointer;
}

.cur_nav_bar {
    width: 200px;
    z-index: 9999;
    position: absolute;
    right: 200px;
}

.open_currency_active ul {
    width: 100%;
}

.open_currency_active ul li {
    width: 100%;
}

a.currency_s:before {
    content: "\f111";
    color: #ffffff;
}

.open_currency.active_on span.op {
    color: #ffffff;
}

a.currency_s.currency_active:before {
    content: "\f111";
    color: #32e714;
}

ul.menu > li {
}

.header-container ul.menu {
    width: 70%;
    margin: 0 auto;
}

.form-list .fields.vat-number-rigth {
    margin-bottom: 0 !important;
    width: 38%;
}

.mobile-special-all {
    display: none;
}

.klarna-p .form-list input.input-text, .klarna-p .form-list select, .form-list textarea {
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    background: #ffffff;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #616161;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12);
}

@media screen and (max-width: 1280px) {
    .cur_nav_bar {
        top: 120px;
        width: 135px;
        right: 240px;
        text-align: right;
    }

    .open_currency_active {
        background-color: #000;
        padding: 7px 9px;
    }
}

@media screen and (max-width: 991px) {
    .catalog-category-view .columns3custom .centerblock {
        width: 100% !important;
        float: none;
        margin: 0;
        padding: 0 15px !important;
    }
}

@media (max-width: 991px) {
    #newsletter_popup {
        width: auto !important;
    }
}

@media screen and (max-width: 800px) {

    .cur_nav_bar {
        top: 100px;
        right: 20px;
    }

    .open_currency_active {
        width: 135px;
    }

    .category-products .products-grid li.item {
        width: 33%;
    }
}

@media (max-width: 767px) {
    #newsletter_popup {
        padding: 40px 15px;
    }

    #newsletter_popup h2 {
        font-size: 26px;
    }
}

@media (max-width: 479px) {
    #newsletter_popup button.button {
        width: 80px;
        margin-left: -80px;
    }

    .cur_nav_bar {
        top: 150px;
        right: 20px;
    }
}

@media (max-width: 406px) {
    .cur_nav_bar {
        top: 116px;
        right: 20px;
    }
}

.mobile-checkout {
    display: none;
}

.mobile-cart {
    display: none;
}

div.klarna_totals .total-border {
    display: none;
}

#mobile-one-steps, #mobile-two-steps {
    display: none;
}

.steps-checkout-numbers {
    display: none;
}

.mobile-name-checkout-method {
    display: none;
}

.col-xs-6 .line-checkout {
    width: 30% !important;
}

.decstop-none-cart-qty {
    display: none;
}

.mobile-line {
    display: none;
}

.best-price-product {
    margin-bottom: 20px;
}

.best-price-product span.price {
    color: #c19f00;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.baner-category-img img {
    max-width: 100%;
}

.sub-cat-two, .sub-cat-one {
    position: relative;
    width: 100%;
}

.sub-cat-one {
    padding: 10px;
}

.baner-category-img .pos-absolute {
    position: absolute;
    width: 80%;
    height: 80%;
    padding: 20px;
    z-index: 9;
    background-color: red;
    opacity: 0.5;
    top: 0;
    margin: 8% 7%;
}

.pos-absolute-c{
    display: none;
}

.pos-absolute-p{
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    margin-top: -26px;
    font-size: 30px;
    color: #fff;
}

.pos-absolute-p.sub-cat-text {
    font-size: 16px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    margin: 0 25px;
    margin-top: -20px;
    line-height: 2;
}

.sub-cat-two .c-two {
    width: 50%;
    float: left;
    padding: 10px;
    position: relative;
}

@media screen and (max-width: 767px) {

    #buttom-none {
        display: none;
    }
    .category-products .products-grid li.item {
        width: 50%;
    }

    .top-container {
        display: none;
    }

    .mobile-checkout {
        display: block;
        margin: 10px 0 20px;
        padding: 0 !important;
    }

    .padding-none {
        padding: 0 !important;
    }

    .mobile-method-checkout {
        border-bottom: 2px solid #626262;
        border-top: 2px solid #626262;
    }

    .mobile-method-checkout p {
        font-size: 30px;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        color: rgb(254, 254, 254);
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0;
        line-height: 1;
    }

    .mobile-checkout h1 {
        font-size: 60px;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        color: rgb(254, 254, 254);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    .page {
        background-color: #1e1e1e;
    }

    .lotusbreath-onestepcheckout-index-index .container, .checkout-klarna-index .container {
        padding: 0;
    }

    .col-main a.mobile-active-checkout-method {
        width: 80%;
        display: block;
        padding: 3px 20px;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        text-align: center;
        font-size: 48px;
        color: rgb(20, 238, 180);
        margin: 70px 10% 50px;
        text-transform: uppercase;
        background-color: #000;
    }

    .col-main a.mobile-active-checkout-method:last-child {
        font-size: 37px;
        padding: 13px 20px;

    }

    .mobile-cart {
        display: block;
    }

    .decstop-cart {
        display: none;
    }

    ol.opc, div#checkout-progress-wrapper {
        display: none;
    }

    .checkout-onepage-index .page-title h1 {
        display: none;
    }

    div.line-checkout {
        height: 8px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 20% !important;
        margin-top: 10px;
    }

    h2.title-checkout {
        text-align: center;
        width: 60% !important;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
    }

    div.klarna_cart table, div.klarna_cart table tbody, div.klarna_cart table tbody tr, div.klarna_cart table tbody tr td {
        display: block;
    }

    div.klarna_cart table tbody tr, div.klarna_cart table tbody tr td {
        border: none !important;
        float: left;
    }

    div.klarna_cart table tbody tr td.img-checkout {
        width: 35% !important;
    }

    div.klarna_cart table tbody tr td.img-checkout img {
        max-width: 100%;
        border: solid 3px #fff;
    }

    div.klarna_cart table tbody tr td.product_name {
        width: 65% !important;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        text-align: left !important;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .klarna_cart a.subtract-item {
        background: transparent url(../images/minus-checkout1.png) no-repeat;
    }

    .klarna_cart a.add-item {
        background: transparent url(../images/plus-checkout1.png) no-repeat;
    }

    div.klarna_cart table tbody tr td.price-cart {
        width: 20% !important;
        text-align: left !important;
    }

    div.klarna_cart table tbody tr td.price-cart span .price {
        color: #ffffff !important;
        font-size: 16px;
    }

    div.klarna_cart table tbody tr td.qty.qty-def {
        width: 20% !important;
        text-align: left !important;
    }

    div.klarna_cart table tbody tr td.qty.qty-def span {
        color: #14eeb4;
    }

    div.klarna_cart table tbody tr td.total-cart-price {
        width: 20% !important;
        text-align: left !important;
    }

    div.klarna_cart table tbody tr td.total-cart-price span .price {
        color: #ffffff !important;
        font-size: 16px;
    }

    div.klarna_cart table tbody tr td.klarna-default {
        width: 5% !important;
        text-align: left !important;
    }

    div.klarna_totals .total-border {
        border-top: solid 6px #686868;
        display: block;
        width: 96%;
        margin: 0 auto;
        float: none;
    }

    div.klarna_totals table tr td, div.klarna_totals table tr td span, div.klarna_totals table tr td strong {
        color: #ffffff !important;
        font-size: 20px !important;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    }

    h3.klarna_block-title.page-title.title-checkout.col-xs-2 {
        width: 60% !important;
        text-align: center;
        line-height: 25px;
        margin-bottom: 0px;
        color: #ffffff;
    }

    div.coupon {
        width: 100%;
        padding: 0 15px;
    }

    #checkout-review-table-wrapper .a-center {
        text-align: right !important;
    }

    div.klarna_discount input {
        outline: 0;
        background: #ffffff;
        width: 65%;
        height: 40px;
        padding: 0 5px;
        border: 1px solid #fff;
        border-radius: 20px;
        box-shadow: none;
    }

    div.klarna_discount .button {
        letter-spacing: 0.8px;
        width: 30%;
        border-radius: 20px;
        cursor: pointer;
        padding: 20px;
        float: right;
        border-color: #14eeb4;
        background: #14eeb4;
    }

    div.klarna_discount label {
        color: #fff;
        text-transform: uppercase;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    }

    div.shipping-block dt {
        display: none;
    }

    .lotusbreath-onestepcheckout-index-index .mobile-checkout, .lotusbreath-onestepcheckout-index-index .mobile-method-checkout, .lotusbreath-onestepcheckout-index-index #none-method {
        display: none;
    }

    #mobile-one-steps, #mobile-two-steps {
        display: block;
        text-align: center;
        margin: 10px 0;

    }

    #mobile-one-steps button, #mobile-two-steps button {
        max-width: 400px;
        width: 100%;
        height: 80px;
        background: #14eeb4;
        border: solid 1px #14eeb4;
    }

    #mobile-one-steps button span, #mobile-two-steps button span {
        color: #ffffff;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 40px;
    }

    .steps-checkout-numbers span.active {
        border: solid 4px #14eeb4;
        background: #12eeb4;
        color: #ffffff;
    }

    .steps-checkout-numbers hr.active {
        border: solid 2px #87edb5;
    }

    div.shipping-block ul li label {
        background-image: url(../images/radio-active1.png);
    }

    div.shipping-block ul li input:checked + label {
        background-image: url(../images/radio-active1.png);
    }

    div.shipping-block ul li label {
        padding-left: 30px;
        margin-top: 0px;
        font-size: 18px;
        color: rgb(20, 238, 180);
        font-weight: bold;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    }

    div.shipping-block ul li label span {
        font-size: 18px;
        color: rgb(20, 238, 180);
        font-weight: bold;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    }

    #newsletter-signup:before {
        content: '';
        background-image: url(../images/checbox-desactive.png);
        width: 18px;
        background-repeat: no-repeat;
        height: 18px;
        position: absolute;
        padding: 0px;
        z-index: 9999;
        visibility: visible;
        top: -6px;
        left: -3px;
    }

    label.label-newsletter {
        background-image: url(../images/checbox-desactive.png) !important;
    }

    label.label-newsletter.active {
        background-image: url(../images/checbox-active.png) !important;
    }

    #newsletter-signup:checked:before {
        content: '';
        background-image: url(../images/checbox-active.png);
        width: 18px;
        background-repeat: no-repeat;
        height: 18px;
        position: absolute;
        padding: 0px;
        z-index: 9999;
        visibility: visible;
        top: -6px;
        left: -3px;
    }

    .form-list li {
        text-align: center;
    }

    .checkout-klarna-index .newsletter-block label {
        padding-left: 30px;
        margin-top: 0px;
        font-size: 18px;
        color: rgb(20, 238, 180);
        font-weight: bold;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        margin-left: -11px;
    }

    .mobile-newsleter {
        font-size: 18px;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        color: rgb(20, 238, 180);
        font-weight: bold;
        text-transform: uppercase;
    }

    ul li.fields.organization-checkout {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 15px !important;
    }

    div.organization-checkout-first, .organization-checkout-second {
        width: 100% !important;
        float: none;
        text-align: center;
    }

    .form-list .fields.vat-number-rigth, ul.form-list li.fields {
        width: 100%;
        margin: 0 !important;
        padding: 0 15px;
        text-align: center;
    }

    ul.form-list label {
        font-size: 24px;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        color: rgb(20, 238, 180);
        text-align: center;
    }

    .newsletter-block {
        margin-left: 7px;
    }

    .block-control input.different-address-textbox {
        position: relative;
    }

    .block-control {
        font-size: 18px;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        color: rgb(20, 238, 180);
        font-weight: bold;
        text-transform: uppercase;
    }

    .block-control input.different-address-textbox:checked:before {
        content: '';
        background-image: url(../images/checbox-active.png);
        width: 18px;
        background-repeat: no-repeat;
        height: 18px;
        position: absolute;
        padding: 0px;
        z-index: 9999;
        visibility: visible;
        top: -6px;
        left: -3px;
    }

    .block-control input.different-address-textbox:before {
        content: '';
        background-image: url(../images/checbox-desactive.png);
        width: 18px;
        background-repeat: no-repeat;
        height: 18px;
        position: absolute;
        padding: 0px;
        z-index: 9999;
        visibility: visible;
        top: -6px;
        left: -3px;
    }

    div.col-main div > a {
        padding: 10px;
        background: none;
        color: rgb(20, 238, 180);
        font-weight: bold;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    }

    #checkout_form .shipping-block {
        text-align: center;
    }

    .shipping-block button#lbonepage-place-order-btn.klarna_discount.button {
        letter-spacing: 0.8px;
        max-width: 80%;
        width: 400px !important;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px;
        float: none;
        border-color: rgb(20, 238, 180);
        background-color: rgb(20, 238, 180);
    }

    .steps-checkout-numbers span {
        float: left;
        width: 46px;
        font-size: 24px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        text-align: center;
        line-height: 1.6;
        border: 4px solid #fff;
        border-radius: 35px;
        cursor: pointer;
    }

    .steps-checkout-numbers span:first-child {
        border: 4px solid #14eeb4;
    }

    .steps-checkout-numbers hr {
        float: left;
        width: calc(48% - 73px);
        margin: 21px 1% 0 1%;
        color: #87edb5;
        border: solid 2px #ffffff;
    }

    .steps-checkout-numbers {
        display: block;
    }

    .mobile-name-checkout-method {
        font-size: 40px;
        font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
        color: rgb(20, 238, 180);
        text-transform: uppercase;
        text-align: center;
        margin: 50px 0 30px;
    }

    .d3-additional, #checkout_form {
        display: none;
    }

    .checkout-onepage-index .mobile-name-checkout-method, .checkout-onepage-index .steps-checkout-numbers {
        display: none;
    }

    .checkout-klarna-index #none-method, .checkout-klarna-index .mobile-checkout {
        display: none;
    }

    tr.summary-total .summary-collapse:before {
        font: 15px/9px mango;
        content: "\e923";
        border: none;
        width: 14px;
        height: 14px;
        margin-right: 7px;
        vertical-align: middle;
        padding: 3px;
        font-weight: bold;
    }

    .mobile-name-checkout-method {
        display: block;
    }

    #upper-menu-cockie, .cur_nav_bar {
        display: none !important;
    }

    .header-container.type8 .logo {
        margin: 5px 0 !important;
    }

    .header-container.type8 .header-right {
        width: 34%;
        padding: 0;
        margin-top: 0px;
        pointer-events: none;
        float: right;
    }

    .header-container.type8 .search-area .search-icon {
        display: none;
    }

    .header-container.type8 {
        height: 170px !important;
    }

    .header-container.type8 .search-area {
        width: 100%;
    }

    .header-container.type8 #search_mini_form {
        visibility: visible;
        opacity: 1;
    }

    .header-container.type8 .form-search:before {
        content: '';
        display: none;
    }

    .header-container.type8 .form-search {
        padding: 0;
        top: 17px;
        max-width: 460px;
    }

    .header-container.type8 .form-search button {
        padding: 0 15px;
        height: 45px;
        line-height: 45px;
        position: absolute;
        right: 0px !important;
        background-color: #fff;
        color: #999999;
        font-size: 24px;
    }

    .header .form-search #search {
        width: 100%;
        float: left;
        margin: 0;
        font-size: 22px;
    }

    .mobile-nav {
        top: 170px;
    }

    .menu-fixed-nav .mobile-nav {
        position: fixed;
        top: 170px;
    }

    .mobile-nav-shown .mobile-nav-overlay {
        display: none;
    }

    .mobile-nav {
        left: 0px;
        height: 0%;
        display: none;
    }

    .mobile-nav-shown .mobile-nav {
        height: 100%;
        display: block;
    }

    div.klarna_cart table tbody tr td.product_name a {
        color: #fff !important;
    }

    .checkout-klarna-index fieldset {
        min-width: 100% !important;
    }

    .twelve.columns.klarna-p {
        display: none;
    }

    .mobile-none-cart-qty {
        display: none;
    }

    .decstop-none-cart-qty {
        display: inline;
        background: #87edb5;
        border-radius: 31px;
        padding: 5px 10px;
        font-size: 16px;
        margin-left: -15px;
        position: absolute;
        margin-top: 34px;
        line-height: 1;
    }

    .header-container .icon-mango-cart:before, .header-container .icon-mango-user:before, .header-container .icon-mango-nav-icon:before {
        display: none;
    }

    .header-container .icon-mango-user {
        background-image: url("../images/acount-mobile.png");
        width: 46px;
        height: 62px;
        display: block;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
    }

    .header-container .icon-mango-cart {
        background-image: url("../images/cart-mobile.png");
        width: 57px;
        height: 53px;
        display: block;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
    }

    .header-container .icon-mango-nav-icon {
        background-image: url(../images/menu-open-icoon.png);
        width: 37px;
        height: 19px;
        display: block;
        float: left;
        margin-top: 3px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 13px;
        transition: 0.5s;
        transform: rotate(0deg);
    }

    .mobile-nav-shown .header-container .icon-mango-nav-icon {
        transition: 0.5s;
        transform: rotate(180deg);
    }

    .header-container.type8 .mybag-link, .header-container.type8 .top-links-icon, .header-container.type8 .search-icon {
        padding: 0 16px;
        margin-top: 12px;
    }

    .mobile-line {
        display: block;
        position: absolute;
        top: 73px;
        width: 100%;
        margin-left: -15px;
        border: solid 1px #fff;
    }

    .header-container.type8 .mini-cart {
        margin-right: 57px;
    }

    .header-container .special-price-mobile {
        background-image: url("../images/shares.png");
        width: 16px;
        height: 60px;
        display: block;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
    }

    .icom-price-menu {
        position: absolute;
        right: 15px;
        top: 13px;
        padding: 0 13px;
    }

    .icom-price-menu:hover {
        cursor: pointer;
    }

    .header-container.type8.sticky-header {
        padding-top: 8px;
    }

    .close-mobile-nav {
        display: none;
    }

    .mobile-nav-shown .mobile-nav {
        height: calc(100% - 170px) !important;
    }

    .toolbar .pager {
        padding: 0;
        border: 0;
        margin-bottom: 0;
        float: left;
        margin-top: 9px;
    }

    .toolbar .sorter {
        float: left;
    }

    .toolbar.clearfix select {
        padding: 0 !important;
    }

    .catalog-category-view .header-container.type8 {
        height: 132px !important;
    }

    .catalog-category-view.menu-fixed-nav .header-container.type8 {
        height: 170px !important;
    }

    .product-view .product-shop .product-name h1, h3, h2, .product-view .product-shop .price-box .price, .email-friend a, .product-shop a, .product-shop .short-description, .product-shop label {
        color: #fff;
    }

    .product-view input.input-text, .product-view select {
        padding: 0px !important;
        color: #fff;
    }

    div.col-main .product-shop div > a {
        padding: 2px;
    }

    .product-shop button.button {
        border: 1px solid #fff;
    }

    .tabs > ul > li > a {
        color: #ffffff;
    }

    .tab-content div.std {
        color: #ffffff;
    }

    .mobile-nav {
        width: 100%;
    }

    .mobile-special-all {
        color: #fff;
        width: 100% !important;
        position: absolute;
        z-index: 9999;
        display: none;
        background: #000;
        height: calc(100% - 170px);
    }

    .mobile-special-all.active {
        display: block !important;
    }

    .mobile-special-all .rightlinks ul li {
        text-align: center !important;
    }

    .mobile-special-all #cust-klarna-menu {
        display: none;
    }
}

@media screen and (max-width: 705px) {
    .header-container.type8 .mybag-link, .header-container.type8 .top-links-icon, .header-container.type8 .search-icon {
        padding: 0 6px;
        margin-top: 12px;
    }

}

@media screen and (max-width: 591px) {
    .header-container.type8 .header-right {
        width: 50%;
    }

    .header-container.type8 .form-search {
        left: -240px;
    }

    .header-container.type8 .logo {
        margin: 14px 0 !important;
        width: 50%;

    }
}

@media screen and (max-width: 575px) {

    .header-container.type8 .form-search {
        padding: 0;
        top: 20px;
        /*max-width: 400px;*/
        /*left: 50%;*/
        /*margin-left: -300px;*/
    }

    .col-main a.mobile-active-checkout-method {
        font-size: 36px;
        margin: 50px 10% 30px;
    }

    .col-main a.mobile-active-checkout-method:last-child {
        font-size: 30px;
        padding: 8px 20px;
    }

    .mobile-checkout h1 {
        font-size: 50px;
    }

    .mobile-method-checkout p {
        font-size: 26px;
    }

    .mobile-method-checkout p {
        font-size: 20px;
    }

    .mobile-checkout h1 {
        font-size: 40px;
    }

    .col-main a.mobile-active-checkout-method {
        font-size: 30px;
        margin: 40px 10% 20px;
    }

    .col-main a.mobile-active-checkout-method:last-child {
        font-size: 24px;
        padding: 8px 20px;
    }

}

@media screen and (max-width: 550px) {
    .header-container.type8 .form-search {
        width: 320px;
        left: -200px;
    }

    .toolbar .sorter {
        width: 100%;
    }

    .sorter .view-mode {
        display: inline-block;
        margin-bottom: 0;
        padding-right: 0px;
        border-right: 1px solid #ebebeb;
        margin-right: 0px;
        line-height: 30px;
    }
}

@media screen and (max-width: 525px) {
    div.klarna_cart table tbody tr td.price-cart {
        width: 30% !important;
        text-align: left !important;
    }

    div.klarna_cart table tbody tr td.qty.qty-def {
        width: 35% !important;
        text-align: left !important;
    }

    div.klarna_cart table tbody tr td.total-cart-price {
        width: 30% !important;
        text-align: left !important;
    }

    div.klarna_cart table tbody tr td.product_name {
        margin-bottom: 5px;
    }

    div.klarna_totals table tr td, div.klarna_totals table tr td span, div.klarna_totals table tr td strong {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 480px) {
    .header-container.type8 .logo {
        max-width: 100%;
    }

    .category-products .products-grid li.item {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .col-main a.mobile-active-checkout-method {
        width: 90%;
        margin: 40px 5% 20px;
    }

    .col-main a.mobile-active-checkout-method:last-child {
        font-size: 22px;
        padding: 8px 0px;
    }

    .col-main a.mobile-active-checkout-method {
        font-size: 26px;
        padding: 3px 0px;
    }

    .header-container.type8 .form-search {
        width: 250px;
        left: -140px;
    }

    .header-container .icon-mango-user, .header-container .icon-mango-cart, .header-container .special-price-mobile {
        background-size: 60%;
    }

    .decstop-none-cart-qty {
        display: inline;
        background: #87edb5;
        border-radius: 31px;
        padding: 2px 7px;
        font-size: 15px;
        margin-left: -20px;
        position: absolute;
        margin-top: 30px;
        line-height: 1;
    }

    .header-container.type8 .mini-cart {
        margin-right: 40px;
    }

    a.logo img {
        max-width: 100%;
    }

    .header-container.type8 .logo {
        width: 45%;
    }

    .header-container.type8 .header-right {
        width: 55%;
    }
}

@media screen and (max-width: 360px) {

    .header-container.type8 .form-search {
        width: 230px;
        left: -140px;
    }

    .header-container.type8 .mybag-link, .header-container.type8 .top-links-icon, .header-container.type8 .search-icon {
        padding: 0;
        margin-top: 12px;
    }

    .header-container .icon-mango-nav-icon {
        background-image: url(../images/menu-open-icoon.png);
        width: 37px;
        height: 19px;
        display: block;
        float: left;
        margin-top: 3px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: -6px;
        transition: 0.5s;
        transform: rotate(0deg);
    }
}
