<?xml version="1.0"?>
<config>
    <modules>
        <Evolution_Checkout>
            <version>0.1.0</version>
        </Evolution_Checkout>
    </modules>
    <global>
        <models>
            <evolution_checkout>
                <class>Evolution_Checkout_Model</class>
                <resourceModel>evolutuion_checkout_resource</resourceModel>
            </evolution_checkout>
            <evolutuion_checkout_resource>
                <class>Evolution_Checkout_Model_Resource</class>
            </evolutuion_checkout_resource>
        </models>
        <blocks>
            <evolution_checkout>
                <class>Evolution_Checkout_Block</class>
            </evolution_checkout>
        </blocks>
        <helpers>
            <evolution_checkout>
                <class>Evolution_Checkout_Helper</class>
            </evolution_checkout>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <evolution_checkout>
                    <file>evolutuion/checkout.xml</file>
                </evolution_checkout>
            </updates>
        </layout>
    </frontend>
</config>