<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_TaxSwitch>
            <version>0.0.0.1</version>
        </Anowave_TaxSwitch>
    </modules>
    <global>
    	<models>
		    <taxswitch>
		        <class>Anowave_TaxSwitch_Model</class>
		        <resourceModel>taxswitch_resource</resourceModel>
		    </taxswitch>
		    <taxswitch_resource>
                <class>Anowave_TaxSwitch_Model_Resource</class>
                <entities>
	                <group>
	                    <table>anowave_taxswitch</table>
	                </group>
	            </entities>      
            </taxswitch_resource>
		    <tax>
                <rewrite>
               		<config>Anowave_TaxSwitch_Model_Config</config>  
                </rewrite>
            </tax>
		</models>
		<resources>
            <anowave_taxswitch_setup>
                <setup>
                    <module>Anowave_TaxSwitch</module>
                </setup>
            </anowave_taxswitch_setup>
			<anowave_taxswitch_write>
				<connection>
					<use>core_write</use>
				</connection>
			</anowave_taxswitch_write>
			<anowave_taxswitch_read>
				<connection>
					<use>core_read</use>
				</connection>
			</anowave_taxswitch_read>    
        </resources>
		<blocks>
			<taxswitch>
                <class>Anowave_TaxSwitch_Block</class>
            </taxswitch>
            <adminhtml>
            	<rewrite>
            		<customer_group_edit_form>Anowave_TaxSwitch_Block_Form</customer_group_edit_form>
            	</rewrite>
            </adminhtml>
		</blocks>
		<helpers>
	        <taxswitch>
	            <class>Anowave_TaxSwitch_Helper</class>
	        </taxswitch>
	    </helpers>
    </global>
    <frontend>
    	<events>
			<core_block_abstract_to_html_after>
                <observers>
                    <taxswitch>
                        <class>Anowave_TaxSwitch_Model_Observer</class>
                        <method>modify</method>
                    </taxswitch>
                </observers>
            </core_block_abstract_to_html_after>
		</events>
    </frontend>
    <adminhtml>
    	<events>
    		<controller_action_predispatch_adminhtml_customer_group_save>
    			<observers>
                    <taxswitch>
                        <class>Anowave_TaxSwitch_Model_Observer</class>
                        <method>save</method>
                    </taxswitch>
                </observers>
    		</controller_action_predispatch_adminhtml_customer_group_save>
    	</events>
    </adminhtml>
</config>