<?xml version="1.0"?>
<config>
    <modules>
        <Bar_Checoutklarna>
            <version>0.1.0</version>
        </Bar_Checoutklarna>
    </modules>
    <frontend>
        <routers>
            <checoutklarna>
                <use>standard</use>
                <args>
                    <module>Bar_Checoutklarna</module>
                    <frontName>checoutklarna</frontName>
                </args>
            </checoutklarna>
        </routers>
        <layout>
            <updates>
                <checoutklarna>
                    <file>checoutklarna.xml</file>
                </checoutklarna>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <checoutklarna>
                <class>Bar_Checoutklarna_Helper</class>
            </checoutklarna>
        </helpers>
        <blocks>
            <checoutklarna>
                <class>Bar_Checoutklarna_Block</class>
            </checoutklarna>
        </blocks>
    </global>
</config> 